<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpat.mvc.mapper.DbmsTypePerClctTabMapper">
    <select id="selectAllClctTabById" resultType="com.dbpat.mvc.model.DbmsTypePerClctTab">
        SELECT
            DBMS_TYP_ID AS dbmsTypId,
            SEQ         AS seq,
            CLCT_TAB_NM AS clctTabNm,
            EXPORT_SQL  AS exportSql,
            IMPORT_SQL  AS importSql
        FROM DBMS_TYP_PER_CLCT_TAB
        WHERE DBMS_TYP_ID = #{dbmsTypId}
        ORDER BY SEQ
    </select>
</mapper>