<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpat.mvc.mapper.JobTrgtVoMapper">


<resultMap id="JobTrgtVoResult" type="com.dbpat.mvc.model.JobTrgtVo" autoMapping="true">
<id column="jbSeq" property="jbSeq"></id>
<association property="job" javaType="com.dbpat.mvc.model.Job" autoMapping="true">
</association>
<association property="target" javaType="com.dbpat.mvc.model.Target" autoMapping="true">
</association>
</resultMap>


<select id="selectAllTargetLst" parameterType="com.dbpat.mvc.model.Job" resultMap="JobTrgtVoResult">
SELECT
        TRGT.biz_area_id AS bizAreaId,
        TRGT.trgt_nm AS trgtNm
  FROM JOB_TRGT, TRGT
 WHERE Job_TRGT.jb_id = #{jobId}
   AND JOB_TRGT.biz_area_id = TRGT.biz_area_id
   AND JOB_TRGT.trgt_id = TRGT.trgt_id
</select>

</mapper>