<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpat.mvc.mapper.RuleSetMapper">
    <insert id="insertRuleSet" parameterType="com.dbpat.mvc.model.RuleSet">
        INSERT INTO RL_SET VALUES ('RLSET' || LPAD(RL_SET_SEQ.nextval, 4, '0'), #{rlSetNm}, #{rlSetDescr})
    </insert>
    <update id="updateRuleSetById" parameterType="com.dbpat.mvc.model.RuleSet">
        UPDATE RL_SET
        SET
            RL_SET_NM    = #{rlSetNm},
            RL_SET_DESCR = #{rlSetDescr}
        WHERE rl_set_id = #{rlSetId}
    </update>
    <delete id="deleteRuleSetById">
        DELETE RL_SET
        WHERE rl_set_id = #{rlSetId}
    </delete>
    <select id="selectAllRuleSet" resultType="com.dbpat.mvc.model.RuleSet">
        SELECT
            RL_SET_ID    AS rlSetId,
            RL_SET_NM    AS rlSetNm,
            RL_SET_DESCR AS rlSetDescr
        FROM RL_SET
    </select>
    <select id="selectRuleSetById" resultType="com.dbpat.mvc.model.RuleSet">
        SELECT
            RL_SET_ID    AS rlSetId,
            RL_SET_NM    AS rlSetNm,
            RL_SET_DESCR AS rlSetDescr
        FROM RL_SET
        WHERE RL_SET_ID = #{rlSetId}
    </select>

</mapper>