<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpat.mvc.mapper.RuleMapper">
    <insert id="insertRule">
        INSERT INTO RL VALUES ('RL' || LPAD(RL_SEQ.nextval, 4, '0'), #{rlNm}, #{rlCls}, #{rlDescr}, #{rlSetId})
    </insert>
    <update id="updateRuleByRuleId">
        UPDATE RL
        SET
            RL_NM    = #{rlNm},
            RL_CLS   = #{rlCls},
            RL_DESCR = #{rlDescr}
        WHERE RL_ID = #{rlId}
    </update>
    <delete id="deleteRuleByRuleId">
        DELETE RL
        WHERE RL_ID = #{rlId}
    </delete>
    <select id="selectRuleByRuleSetIdy" resultType="com.dbpat.mvc.model.Rule">
        SELECT
            RL_ID    AS rlId,
            RL_NM    AS rlNm,
            RL_CLS   AS rlCls,
            RL_DESCR AS rlDescr
        FROM RL
        WHERE RL_SET_ID = #{rlSetId}
    </select>
    <select id="selectRuleByRuleId" resultType="com.dbpat.mvc.model.Rule">
        SELECT
            RL_ID    AS rlId,
            RL_NM    AS rlNm,
            RL_CLS   AS rlCls,
            RL_DESCR AS rlDescr
        FROM RL
        WHERE RL_ID = #{rlId}
    </select>
</mapper>