<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dbpat.mvc.mapper.TargetMapper">

    <insert id="insertTarget" parameterType="hashmap">
        INSERT INTO TRGT (biz_area_id, trgt_id, trgt_nm, trgt_typ, ip, prt, usr_id, pw, serv, schm, dbms_typ_id) VALUES
            (#{bizAreaId}, 'TRGT'||LPAD(TARGET_SEQ.nextval, 4, '0'), #{trgtNm}, #{trgtTyp},#{ip}, #{prt}, #{usrId}, #{pw},#{serv}, #{schm},#{dbmsTypId})
    </insert>
    <update id="updateTarget">
        UPDATE TRGT
        SET trgt_nm = #{trgtNm},
            trgt_typ = #{trgtTyp},
            ip = #{ip},
            prt = #{prt},
            usr_id = #{usrId},
            pw = #{pw},
            serv = #{serv},
            schm = #{schm},
            dbms_typ_id = #{dbmsTypId}
        WHERE biz_area_id = #{bizAreaId}
                AND trgt_id = #{trgtId}
    </update>
    <delete id="deleteTarget" parameterType="hashmap">
        DELETE TRGT WHERE biz_area_id = #{bizAreaId} AND trgt_id = #{trgtId}
    </delete>
</mapper>